*{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    transition: 500ms ease;
}

.compiler-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.buttons{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}
.buttons .run-button{
    border: none;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.buttons .save-button{
    border: none;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.buttons .save-button:hover{
    background-color: rgb(0, 20, 199);
    color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.fosi{
    padding: 8px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border:1px solid blue;
}
.fosi::-webkit-inner-spin-button{
    display: none;
}
.run-button:hover{
    background-color: rgb(0, 199, 0);
    color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.theme-button-dark{
    border: none;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.theme-button-dark:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 0px 20px black;
}

.theme-button-light{
    border: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: black;
    border: 1px solid;
    border-radius: 5px;
}
.buttons .theme-button-light:hover{
    box-shadow: 0px 0px 50px black;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
}



.buttons .language,option{
    background-color: rgb(60, 60, 60);
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 5px;
}:focus{
    outline: none;
}


.code-editor-chatbox{
    width: 100%;
    height: 55vh;
    min-height: 55vh;
    max-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.text-editor{
    overflow: scroll;
    text-wrap: nowrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 5px;
    flex: 3;
    border-radius: 10px;
}
.text-editor::-webkit-scrollbar{
    display: none;
}
.input-output{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    margin-bottom: 5px;
}
.input{
    flex: 1;
    border: 1px solid rgb(0, 255, 0);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    border-radius: 10px;
    
}
.input textarea{
    flex: 1;
    border: none;
    width: 100%;
    height: 75%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0px 5px;
    border-radius: 10px;
    overflow: scroll;
}::-webkit-scrollbar{
    display: none;
}
.input:focus{
    outline: none;
}
.output{
    flex: 1;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0px 20px;
    border-radius: 15px;
    overflow: scroll;
}::-webkit-scrollbar{
    display: none;
}




.loading-image{
    width: 50px;
    animation: rotate 1000ms infinite ease;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.chat-bot{
    flex: 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    border: 1px solid;
    border-radius: 10px;
}


.ZetaBot{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100%;
    text-wrap: wrap;
}

.input-prompt{
    justify-self: flex-end;
    position: sticky;
    bottom: 5px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 95%;
    border-radius: 5px;
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-prompt input{
    width: 50%;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: 1px solid blue;
    padding:0px 20px;
}
.input-prompt button{
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    border-radius: 50%;
}
.input-prompt button:hover{
    background-color: blue;
    box-shadow: 0px 0px 10px black;
}

.Message{
    text-wrap: wrap;
    text-align: left;
    font-size: 14px;
    padding: 20px;
    width: fit-content;
}